


.main{
    margin-top: 120px;      /* So header doesn't cover up the top */
    margin-bottom:120px;   /* So footer doesn't cover up the bottom  */

}

.animationFrame{
    margin-top: 50px;
    position:relative;
    margin:auto;
    width : 600px;
    height:400px;
    background-color: lightblue;
    border-radius: 20px;
    border-color: black;
    border-style: groove;
}

.circle1{
    position:absolute;
    background-color: purple;
    width:50px;
    height:50px;
    border-radius:50%;
    top:50px;
    left:120px;
    animation:bounce1 4s ease-in infinite alternate  ; 
    border-color: black;
    border-style: groove;
}

.circle2{
    left:270px;
    background-color: red;  
    animation-delay: .5s;
}

.circle3{
    left:420px;
    background-color: gray;  
    animation:bounce2 4s ease-in infinite alternate  ; 
    animation-delay: 1s;

}

@keyframes bounce1 {

    0%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(302px);
    }
    40%{
        transform:translateY(50px);
    }
    60%{
        transform:translateY(300px);
    }

    80%{
        transform:translateY(200px);
    }

    100%{
        transform:translateY(300px);
    }
}

@keyframes bounce2 {

    0%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(308px);
        background-color: purple ;
   
    }
    40%{
        transform:translateY(150px);
        background-color: grey ;

    }
    60%{
        transform:translateY(304px);
        background-color: red ;
    }
   

    80%{
        transform:translateY(250px);
        background-color: grey ;
 
    }

    100%{
        transform:translateY(300px);
        background-color: aquamarine ;
    }
}

.title{
    font-size: 17px;
    font-family: 'Maven Pro', sans-serif; 
    text-decoration:underline;
    
}

.music{
    display: flex;
    justify-content:center;
}

.inline1{
    display:inline-block;
    height: 100px;
    width: 300px;
    background-color: lightpink;
    margin-left:50px;

}

.inline2{

    background-color: lightgrey;
    vertical-align:top;      /* This is used so it align from the top as it will not depending on the amount of text in <p>  */
}

.inline3{
    background-color: greenyellow;
    vertical-align:top;     

}

.inline3{
    background-color: lightgreen;
    vertical-align:top;     
}

.inline4{
    background-color: lightblue;
    vertical-align:top;     
}


.cssBoxModel{
    display:inline-block;
    height:330px;
    width:400px;
    vertical-align:top; 
}

.cssBoxModelAlt{
    display:inline-block;
    height:330px;
    width:400px;
    vertical-align:top; 
}

.boxSizing {
display:inline-block; 
background-color: lightgreen;
height:150px; 
width:150px;
box-sizing:border-box;
margin-left:50px;
}

.boxSizingAlt{
background-color: lightblue;    
border-style: groove;
border-color: black;
border-width: 5px;
padding:10px;
vertical-align:top; 

}
.block{
    background-color: lightblue; 
    width:700px;
}

.flexBox{
    display:flex;
    width:auto;
    height:auto;
}

.flexContainer{
    display:flex;
    margin:10px;
    padding:20px;
    background-color: lightblue;
    flex-wrap:wrap;


}

.flexInfo {    
                   
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width:50px;
    height:30px
    
}

.flexColumn{
    flex-direction:column;
    background-color: lightgreen;
    height:200px;
 
}

.flexJustifyContent {

    justify-content:center;
    background-color: lightpink;
}

.flexAlignItems {
    align-items:flex-end;
    background-color: lightgray;
    height:200px;
}

.flexAlignContent {
    flex-direction:column;
    align-content: center;
    height:200px;
    background-color:peachpuff;
}

.flexGap {
    gap:100px 50px; 
    background-color:lightyellow;  
}


.footerspace{

    height: 500px;
    width: 20px;

}


.flexContainerItem{
    display:flex;
    margin:10px;
    padding:20px;
    background-color: lightblue;
    height:200px;
    width: 400px;
    min-width:80px;

}


.flexContainerItemAlt{
    display:flex;
    margin:10px;
    padding:20px;
    background-color: lightgreen;
    height:200px;
    width: 920px;

}

.relative{
    display:inline-block;
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid lightpink;
    vertical-align:top; 
    left:20px;
}

.absolute{
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid lightgreen;
}

.absoluteButton{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 70px;
    height: 80px;
    border: 3px solid lightgreen;
}


.positionInfo{
    display:inline-block;
    height: 120px;
    width: 300px;
    background-color: lightpink;
    margin-left:50px;

}