


.main{
    margin-top: 120px;

}

.animationFrame{
    margin-top: 50px;
    position:relative;
    margin:auto;
    width : 600px;
    height:400px;
    background-color: lightblue;
    border-radius: 20px;
    border-color: black;
    border-style: groove;
}

.circle1{
    position:absolute;
    background-color: purple;
    width:50px;
    height:50px;
    border-radius:50%;
    top:50px;
    left:120px;
    animation:bounce1 4s ease-in infinite alternate  ; 
    border-color: black;
    border-style: groove;
}

.circle2{
    left:270px;
    background-color: red;  
    animation-delay: .5s;
}

.circle3{
    left:420px;
    background-color: gray;  
    animation:bounce2 4s ease-in infinite alternate  ; 
    animation-delay: 1s;

}

@keyframes bounce1 {

    0%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(302px);
    }
    40%{
        transform:translateY(50px);
    }
    60%{
        transform:translateY(300px);
    }

    80%{
        transform:translateY(200px);
    }

    100%{
        transform:translateY(300px);
    }
}

@keyframes bounce2 {

    0%{
        transform:translateY(0px);
    }
    20%{
        transform:translateY(308px);
        background-color: purple ;
   
    }
    40%{
        transform:translateY(150px);
        background-color: grey ;

    }
    60%{
        transform:translateY(304px);
        background-color: red ;
    }
   

    80%{
        transform:translateY(250px);
        background-color: grey ;
 
    }

    100%{
        transform:translateY(300px);
        background-color: aquamarine ;
    }
}

.title{
    font-size: 14px;
    font-family: 'Maven Pro', sans-serif; 
    text-decoration:underline;
    
}

.music{
    display: flex;
    justify-content:center;
}

.inline1{
    display:inline-block;
    height: 100px;
    width: 400px;
    background-color: palevioletred;
    margin-left:50px;

}

.inline2{

    background-color: lightgrey;
    vertical-align:top;      /* This is used so it align from the top as it will not depending on the amount of text in <p>  */
}

.inline3{
    background-color: greenyellow;
    vertical-align:top;     

}

.inline3{
    background-color: lightgreen;
    vertical-align:top;     
}

.inline4{
    background-color: lightblue;
    vertical-align:top;     
}


.cssBoxModel{
    display:inline-block;
    height:330px;
    width:400px;
    vertical-align:top; 
}

.boxSizing {
display:inline-block; 
background-color: lightgreen;
height:200px; 
width:200px;
box-sizing:border-box;
margin-left:50px;
}

.boxSizingAlt{
background-color: lightblue;    
border-style: groove;
border-color: black;
border-width: 5px;
padding:10px;
vertical-align:top; 

}
.block{
    background-color: lightblue; 
    width:700px;
}
